.form1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    height: auto;
    padding-bottom: 30px;
    border: 1px solid lightgray;
    border-radius: 4px;

    .formDivider{
        display: flex;
        flex-direction: row;

        gap: 10px;

        .formContainer{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 15px;
            width: 400px;
            height: auto;
            padding-bottom: 30px;
            border: 1px solid lightgray;
            text-align: start;
            

            .staticInputs{
                padding-top: 10px;
                display: flex;
                flex-direction: row;
                gap: 5px;
                padding-left: 40px;

                .fieldName{
                    font-size: 1rem;
                    
                }

                .items{
                    font-size: 1rem;

                }   
            }

            input{
                width: 220px;
            }

            .select{
                height: 45px;
                padding-top: 10px;
                width: 250px;
                
            }

            .datePicker{
                margin-top: 10px;

                width: 240px;
                height: 30px;
            }


         
          
        }
    }

    .moveScreenBtn{
        width: 200px;
        height: 50px;
        padding: 10px;
        border: none;
        background-color: rebeccapurple;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 30px;
    font-family: 'Dosis';

    }
 




  }