.why{
   width: 100%;
   height: auto;
   padding-bottom: 30px;
   padding-left: 50px;
   padding-right: 10px;
   padding-top: 50px;
   font-family: 'Dosis';


   .whyContainer{
    display: flex;
    flex-direction: row;
    gap: 50px;

    // align-items: center;

    .whyleft{
        display: flex;
        flex-direction: column;
        text-align: start;
        .titleContainer{
            display: flex;
            gap: 10px;
            .title{
                font-size: 2.5rem;
            }

        }


        .whyContainers{
            display: flex;
            flex-direction: row;
            gap: 100px;
            .servicesContainer{
                display: flex;
                flex-direction: row;
                gap: 15px;
                padding-top: 20px;
    
                .left{
                    width: 40px;
                    height: 40px;
                }
                .right{
                    display: flex;
                    flex-direction: column;
                    .titleContainers{
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        .title{
                            font-size: 1.3rem;
                        }
                        .boldTitle{
                            font-size: 1.3rem;
                            font-weight: bold;

                        }

                        .boldTitle:hover{
                            text-decoration: underline;
                            text-underline-position: below;
                            text-decoration-color: red;
                            text-decoration-thickness: 3px;
                            transition: 0.3s ease-in-out;
                        }
    
                    }
    
                    .desc{
                        width: 375px;
                    }
    
                   
                }
            }

            
        }



    }

    .whyright{
        display: flex;
        align-items: self-end;
        .bannerImg{
            width: 450px;
            height: auto;
            object-fit: cover;
            padding-left: 00px;
        }
    }

   }

}